@font-face {
    font-family: "italianno";
    src: url("../fonts/Italianno-Regular.ttf");
}
html {
    scroll-behavior: smooth;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #1c1d25;
    padding: 0px;
    margin: 0px;
}
.headerContainer {
    background-image: linear-gradient(78deg, #b4975b 0%, #8e6d25 100%);
    justify-content: space-between;
    display: flex;
}
a {
    color: black;
    text-decoration: none;
}
.headerContainer i {
    display: none;
}
.navigation {
    display: none;
}
.logo img {
    width: 150px;
}
.logo:hover {
    opacity: 0.5;
    cursor: pointer;
}
.menuContainer {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 10px;
    gap: 20px;
}
.mainContainer {
    display: flex;
    min-height: 80%;
    padding: 20px;
}
.sloganContainer {
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 15px;
    width: 50%;
    gap: 20px;
}
.slogan {
    font-family: "italianno";
    user-select: none;
    font-size: 80px;
    color: white;
}
.info {
    color: white;
    max-width: 500px;
}
.imgContainer {
    justify-content: center;
    align-items: center;
    user-select: none;
    display: flex;
    width: 50%;
}
.button {
    background-image: linear-gradient(78deg, #b4975b 0%, #8e6d25 100%);
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 8px 25px;
    user-select: none;
    color: white;
    display: flex;
    width: 100px;
}
.welcomeImg {
    width: 100%;
}
.imgContainer div {
    position: relative;
    width: 60%;
}
.grid {
    position: absolute;
    user-select: none;
    width: 100%;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
}
.aboutUsContainer {
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding: 0px 20px;
    gap: 20px;
    min-height: 100%;
}
.aboutSection {
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 10px;
}
.imageWithText {
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
}
.imageWithText img {
    user-select: none;
    height: 175px;
    width: 275px;
}
.imageWithText span {
    position: absolute;
    text-align: center;
    font-size: 40px;
    color: white;
    user-select: none;
}
.aboutSectionInfo {
    background-color: rgba(142, 108, 36, 0.95);
    justify-content: space-between;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    padding: 45px 30px;
    line-height: 25px;
    display: flex;
    color: white;
    height: 200px;
}
.aboutSectionInfo span {
    text-align: right;
    color: black;
    width: 100%;
    user-select: none;
}
.departmentsContainer {
    justify-content: space-evenly;
    flex-direction: column;
    min-height: 100%;
    display: flex;
    padding: 20px;
    gap: 10px;
}
.branches {
    justify-content: center;
    font-size: 60px;
    color: white;
    display: flex;
}
.regions {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
}
.map {
    height: 425px;
    width: auto;
}
.cellContainer {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    height: 100%;
}
.cellContainer div {
    position: relative;
}
.countryImage {
    border-radius: 20px;
    height: 200px;
    width: 200px;
}
.city {
    position: absolute;
    z-index: 1;
    left: 10;
    top: 10;
}
.portfolioContainer {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 15px;
}
.portfolio {
    padding-bottom: 25px;
    font-size: 60px;
    color: white;
}
.sectionsOfTheHouse {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}
.roomsContainer {
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 25px;
    height: 100%;
    gap: 20px;
}
.roomsContainer div {
    position: relative;
    overflow: hidden;
    height: 225px;
    width: 325px;
}
.roomsContainer div:hover div {
    transition: transform 0.5s;
    transform: translateX(0%);
}
.roomsContainer img {
    border-radius: 25px;
    height: 100%;
    width: 100%;
}
.roomsContainer div div {
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateX(-101%);
    transition: transform 0.5s;
    backdrop-filter: blur(2px);
    font-family: "italianno";
    justify-content: center;
    border-radius: 25px;
    position: absolute;
    align-items: center;
    font-size: 40px;
    display: flex;
    color: white;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
}
.communicationContainer {
    justify-content: space-around;
    flex-direction: column;
    display: flex;
    height: 80%;
}
.communication {
    justify-content: center;
    font-size: 60px;
    color: white;
    display: flex;
    width: 100%;
}
.contactInfo {
    justify-content: space-around;
    align-items: center;
    padding: 20px 40px;
    display: flex;
}
.contactDetails {
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 100%;
    width: 20%;
}
.contactDetails i {
    font-size: 20px;
}
.infoContainer {
    justify-content: space-around;
    background-color: white;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    min-height: 30%;
    font-size: 20px;
    display: flex;
    width: 100%;
}
.phone {
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
    font-size: 25px;
    display: flex;
    gap: 5px;
}
.phoneNumber {
    font-size: 20px;
}

.message {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    height: 100%;
    min-width: 60%;
    gap: 20px;
}
.message input {
    padding: 0px 5px;
    height: 35px;
}
.message textarea {
    border-radius: 5px;
    padding: 10px;
}
.sentContainer {
    justify-content: flex-end;
    padding: 0px 40px;
    display: flex;
}
.footer {
    background-image: linear-gradient(78deg, #b4975b 0%, #8e6d25 100%);
    justify-content: space-between;
    padding: 25px 25px;
    user-select: none;
    display: flex;
}
.copyrightNotice img {
    font-size: 100px;
    height: 40%;
    width: 20%;
}
.follow {
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    display: flex;
}

@media screen and (max-width: 1200px) {
    .roomsContainer div {
        height: 180px;
        width: 250px;
    }
}

@media screen and (max-width: 1024px) {
    .slogan {
        font-size: 60px;
    }
    .info {
        font-size: 13spx;
    }
    .imageWithText img {
        height: 150px;
        width: auto;
    }
    .imageWithText span {
        font-size: 25px;
    }
    .aboutSectionInfo {
        padding: 30px 15px;
    }
    .aboutSectionInfo p {
        font-size: 14px;
    }
    .aboutSectionInfo span {
        font-size: 14px;
    }
    .map {
        height: 375px;
    }
    .countryImage {
        width: 175px;
        height: 175px;
    }
    .roomsContainer div {
        width: 200px;
        height: auto;
    }
    .phone {
        font-size: 18px;
    }
    .phoneNumber {
        font-size: 16px;
    }
    .email {
        font-size: 18px;
    }
    .emailAdress {
        flex-direction: column;
        font-size: 16px;
    }
}

@media screen and (max-width: 830px) {
    .headerContainer {
        padding: 10px;
    }
    .navigation {
        display: flex;
        height: 100%;
    }
    .logo img {
        width: 125px;
    }
    .headerContainer i {
        display: flex;
        align-items: center;
        font-size: 25px;
    }
    .headerContainer i:hover {
        opacity: 0.5;
        cursor: pointer;
        transition: transform 0.1s;
        transform: translateY(3%);
    }
    .menuContainer {
        display: none;
    }
    .mainContainer {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .aboutUsContainer {
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 30px 0px;
    }
    .regions {
        flex-direction: column;
        align-items: stretch;
        padding: 0px 25px;
    }
    .regions img {
        width: 100%;
        height: auto;
    }
    .branches {
        font-size: 50px;
    }
    .cellContainer {
        gap: 10px;
        flex-direction: row;
        justify-content: space-around;
    }
    .map {
        display: none;
    }
    .portfolio {
        font-size: 50px;
    }
    .sectionsOfTheHouse {
        flex-direction: column;
    }
    .roomsContainer {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    .roomsContainer div {
        width: 250px;
    }
    .communicationContainer {
        height: 100%;
    }
    .communication {
        font-size: 50px;
    }
    .contactInfo {
        flex-direction: column;
        padding: 8%;
        gap: 20px;
    }
    .contactDetails {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 20px;
    }
    .infoContainer div {
        padding: 10px;
    }
    .message {
        width: 100%;
    }
}
